
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Nouveau Beacon</title>
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
<script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>
<body>
<div>
	<div class="container mt-5">
		<center><h1 style="text-transform: uppercase;text-shadow: 2px 2px 1px blue;" class="mb-10 mt-3">*** Ajouter un nouveau Beacon ***</h1></center>
	   <div class="card">
     			<div class="card-header">
     				Ajouter un nouveau Beacon
     			</div>
			 	<div class="card-body">
					<form th:action="@{editBeacon}" method="post">
						<div class="form-group">
							<label class="control-label">UUID:</label>
							<input type="text" name="uuid" id="uuid" class="form-control" th:value=${beacon.uuid}>
						</div>
						<div class="form-group">
							<label class="control-label">Major:</label>
							<input type="number" name="major" id="major" class="form-control" th:value=${beacon.major}>
						</div>
						<div class="form-group">
							<label class="control-label">Minor:</label>
							<input type="number" name="minor" id="minor" class="form-control" th:value=${beacon.minor}>
						</div>
						<div>
							<input type="submit" class="btn btn-primary col-12" value="Modifier">
						</div>
					</form>
			    </div>
			</div>
	</div>
</div>	   
</body>
</html>